body{
    width: 240px;
    overflow: hidden;
}

.hidden{
    display: none;
}

.logo{
    max-width: 40px;
}

.container{
    font-size: small;
    padding: 12px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    padding: 0 8px;
}

.button-container button{
    flex-grow: 1;
}